<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}Мой сайт{% endblock title %}</title>
</head>
<body>
    {% block header %}
    <img src="{% static "img/logo.png" %}" alt="logo" id="logo"">
    <div class="header1_1">
        <a href="#">Why it's good</a>
        <a href="#">How it works</a>
        <a href="#">Templates</a>
        <a href="#">Pricing</a>
        <a href="#"><span id="header_span1">FAQ</span></a>
    </div>
    <div class="header1_2">
        <a href="#"><span id="header_span2">Get Started</span></a>
    </div>
    {% endblock header %}
    
    {% block content %}
        <div class="content1">
            <p>we customize your webflow template in minutes</p>
        </div>
        <div class="content2">
            <img src="{% static "img/programm.png" %}" alt="programm" id="programm"">
            <img src="{% static "img/programm4.png" %}" alt="programm4" id="programm4"">
            <img src="{% static "img/programm2.png" %}" alt="programm2" id="programm2"">
            <img src="{% static "img/programm3.png" %}" alt="programm3" id="programm3"">
        </div>
        <div class="content3">
            <div class="content3_1"></div>
            <p>FixFlow</p>
        </div>
        <p id="content4">Looking for hassle-free, creative, affordable fast support for your Webflow project? Our expert team covers it all.</p>
        <div class="content5">
            <a href="#">Get Started</a>
            <img src="{% static "img/arrow.png" %}" alt="arrow" id="arrow"">
        </div>
        <div class="content6">
            <div class="content6_1">
                <div class="content6_1_1"></div>
                <p>Why FixFlow is good for you?</p>
            </div>
            <p id="content6_2">Are you struggling to edit the template you purchased? Or racing against the clock? Leave the painful part with us.</p>
        </div>
        <div class="content7">
            <div class="content7_1">
                <div class="content7_1_1">
                    <div class="content7_1_1_1">
                        <div class="content7_1_1_1_1">
                            <img src="{% static "img/rectangle.png" %}" alt="rectangle" id="rectangle"">
                        </div>
                    </div>
                    <div class="content7_1_1_2">
                        <p>Quick customization</p>
                        <p><span id="content7span">You have the material, we have the skills — we'll get your site up and running in just a few days, with a template custom-designed to meet your needs.</span></p>
                    </div>
                </div>
                <div class="content7_1_2">
                    <div class="content7_1_2_1">
                        <div class="content7_1_2_1_1">
                            <img src="{% static "img/square.png" %}" alt="square" id="square"">
                        </div>
                    </div>
                    <div class="content7_1_2_2">
                        <p>Transparent pricing</p>
                        <p><span id="content7span">Hire our team and we’ll go above and beyond to deliver you a product stress-free and at a fair price.</span></p>
                    </div>
                </div>
            </div>
            <div class="content7_2">
                <div class="content7_2_1">
                    <div class="content7_2_1_1">
                        <div class="content7_2_1_1_1">
                            <img src="{% static "img/round.png" %}" alt="round" id="round"">
                        </div>
                    </div>
                    <div class="content7_2_1_2">
                        <p>Webflow experts</p>
                        <p><span id="content7span">We’re a multi-skilled team of Webflow experts providing you end-to-end service. From design and development to commercial support.</span></p>
                    </div>
                </div>
                <div class="content7_2_2">
                    <div class="content7_2_2_1">
                        <div class="content7_2_2_1_1">
                            <img src="{% static "img/figure.png" %}" alt="figure" id="figure"">
                        </div>
                    </div>
                    <div class="content7_2_2_2">
                        <p id="content7_2_2_2p">International experience</p>
                        <p><span id="content7span">Our team's global reach means we are never too far to assist you. Wherever you are in the globe, we got you covered.</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content89">
            <div class="content8">
                <div class="content8_1">
                    <div class="content8_1_1">
                        <div class="content8_1_1_1"></div>
                        <p id="content8_1_1p">How it works?</p>
                    </div>
                    <p id="content8_1_2">Even if you're not a Webflow expert, get a template and let us make the magic happen.</p>
                    <div class="content8_1_3">
                        <a href="#" id="content8_1_3a">Selected templates</a>
                        <img src="{% static "img/arrow.png" %}" alt="arrow" id="arrow"">
                    </div>
                </div>
                <div class="content8_2">
                    <div class="content8_2_1">
                        <img src="{% static "img/1.png" %}" alt="one" id="one"">
                        <div class="content8_2_1_1">
                            <p><span id="content8_2span">Get a Webflow template</span></p>
                            <p>If have a template, you’re ready to move on to the next step. If not, take a look at our <a href="#">selected templates</a> or choose one from <a href="#">Webflow marketplace.</a></p>
                        </div>
                    </div>
                    <div class="content8_2_2">
                        <img src="{% static "img/2.png" %}" alt="two" id="two"">
                        <div class="content8_2_2_1">
                            <p><span id="content8_2span">Describe your needs</span></p>
                            <p>Tell us about your project. Are you looking for a simple tweak or a fresh redesign? <a href="#">Let us know ›</a></p>
                        </div>
                    </div>
                    <div class="content8_2_3">
                        <img src="{% static "img/3.png" %}" alt="three" id="three"">
                        <div class="content8_2_3_1">
                            <p><span id="content8_2span">Kickoff your project</span></p>
                            <p>Let’s get started. Now that we know how to help you, we’ll make the magic happen. <a  href="#">Any more questions?</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content9">
                <div class="content9_1">
                    <div class="content9_1_1">
                        <div class="content9_1_1_1"></div>
                        <p id="content9_1_1p">Get started with templates</p>
                    </div>
                    <p id="content9_1_2">Have no experience in Webflow? Our expert team is ready to be hands-on with your project.</p>
                </div>
                <div class="content9_2">
                    <div class="content9_2_1">
                        <div class="content9_2_1_1">
                            <img src="{% static "img/Gringo.jpg" %}" alt="Gringo" id="Gringo"">
                            <div class="content9_2_1_1_1">
                                <div class="content9_2_1_1_1_1">
                                    <p>Gringo</p>
                                    <p><span>$79</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                        <div class="content9_2_1_2">
                            <img src="{% static "img/Clark.jpg" %}" alt="Clark" id="Clark"">
                            <div class="content9_2_1_2_1">
                                <div class="content9_2_1_2_1_1">
                                    <p>Clark</p>
                                    <p><span>$149</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                    </div>
                    <div class="content9_2_2">
                        <div class="content9_2_2_1">
                            <img src="{% static "img/Mollie.webp" %}" alt="Mollie" id="Mollie"">
                            <div class="content9_2_2_1_1">
                                <div class="content9_2_2_1_1_1">
                                    <p>Mollie</p>
                                    <p><span>$149</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                        <div class="content9_2_2_2">
                            <img src="{% static "img/Friday.webp" %}" alt="Friday" id="Friday"">
                            <div class="content9_2_2_2_1">
                                <div class="content9_2_2_2_1_1">
                                    <p>Friday</p>
                                    <p><span>$149</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                    </div>
                    <div class="content9_2_3">
                        <div class="content9_2_3_1">
                            <img src="{% static "img/Satoshi.webp" %}" alt="Satoshi" id="Satoshi"">
                            <div class="content9_2_3_1_1">
                                <div class="content9_2_3_1_1_1">
                                    <p>Satoshi</p>
                                    <p><span>$149</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                        <div class="content9_2_3_2">
                            <img src="{% static "img/Bryant.webp" %}" alt="Bryant" id="Bryant"">
                            <div class="content9_2_3_2_1">
                                <div class="content9_2_3_2_1_1">
                                    <p>Bryant</p>
                                    <p><span>$129</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                    </div>
                    <div class="content9_2_4">
                        <div class="content9_2_4_1">
                            <img src="{% static "img/Bobs.webp" %}" alt="Bobs" id="Bobs"">
                            <div class="content9_2_4_1_1">
                                <div class="content9_2_4_1_1_1">
                                    <p>Bobs</p>
                                    <p><span>$149</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                        <div class="content9_2_4_2">
                            <img src="{% static "img/Musk.webp" %}" alt="Musk" id="Musk"">
                            <div class="content9_2_4_2_1">
                                <div class="content9_2_4_2_1_1">
                                    <p>Musk</p>
                                    <p><span>$129</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                    </div>
                    <div class="content9_2_5">
                        <div class="content9_2_5_1">
                            <img src="{% static "img/Hans.webp" %}" alt="Hans" id="Hans"">
                            <div class="content9_2_4_1_1">
                                <div class="content9_2_4_1_1_1">
                                    <p>Hans</p>
                                    <p><span>$129</span></p>
                                </div>
                                <a href="#"><img src="{% static "img/arrow2.png" %}" alt="arrow2" id="arrow2""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
    
</body>
</html>